body,
html,
p,
strong,
b,
em,
a,
ul,
li,
span,
div {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: 700;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
h1.h3 span,
span#feature-text {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

a {
    color: var(--accent-tertiary);
    text-decoration: none;
}

a:hover {
    /* color: var(--accent-quaternary); */
    text-decoration: underline;
}

footer a {
    text-decoration: none;
}

.text-white *,
.text-white {
    color: white;
}

.text-accent {
    color: var(--accent-primary);
}

.text-accent-secondary {
    color: var(--accent-secondary);
}

.text-accent-tertiary {
    color: var(--accent-tertiary);
}

.text-accent-quaternary {
    color: var(--accent-quaternary);
}

.text-accent-quinary {
    color: var(--accent-quinary);
}

.text-accent-senary {
    color: var(--accent-senary);
}

.text-accent-septenary {
    color: var(--accent-septenary);
}

b,
strong,
.bold {
    font-weight: 800;
}

/* .h2,.h3,.h4,.h5,.h6,h2,h3,h4,h5,h6{
    color:#272727;
} */
/* html, body, h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,p,a,span{
    font-family: 'proxima_novaregular';
}
.bold{
    font-family: 'proxima_novabold';
} */
.text-accent {
    color: var(--accent-primary);
}

.text-gray {
    color: #585556;
}

.text-shadow {
    text-shadow: 1px 1px 3px black;
}

.text-black {
    color: black;
}

.lh-1 {
    line-height: 1;
}

.nowrap {
    white-space: nowrap;
}

.text-gradient {
    font-weight: 700;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    color: #6381e5 !important;
    background-image: -o-linear-gradient(45deg, #60bdfc 0%, #6381e5 100%) !important;
    background-image: -ms--linear-gradient(45deg, #60bdfc 0%, #6381e5 100%) !important;
    background-image: -moz-linear-gradient(45deg, #60bdfc 0%, #6381e5 100%) !important;
    background-image: -webkit-linear-gradient(45deg, #60bdfc 0%, #6381e5 100%) !important;
    background-image: linear-gradient(45deg, #60bdfc 0%, #6381e5 100%) !important;
}

.relation-two {
    font-family: relation-two, sans-serif;
    /* font-family: 'tangerineregular'; */
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.5rem;
}