:root {
    --accent-primary: #FFC80F;
    --accent-secondary: #1F184A;
    --accent-tertiary: #B5539F;
    --accent-quaternary: #03BAAF;
    --accent-quinary: #FDB716;
}

body.nav-open {
    overflow: hidden;
}

#body-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all .25s ease-in-out;
    background: rgba(0, 0, 0, .75);
    z-index: 4;
    pointer-events: none;
}

#body-overlay.activate {
    opacity: 1;
}

.bg-accent {
    background: #6381e5;
}

a.bg-accent:hover {
    background: #5778e4;
}

.bg-light {
    background: #ebebeb;
}

.bg-accent-gradient {
    background: linear-gradient(45deg, rgba(96, 189, 252, 1) 0%, rgba(99, 129, 229, 1) 100%);
}

a.bg-accent-gradient:hover {
    background: linear-gradient(45deg, rgba(76, 174, 240, 1) 0%, rgba(82, 114, 221, 1) 100%);
}

.bg-accent-gold-light {
    background: #F2E2D2;
}

a.bg-accent-gold-light:hover {
    background: #e4cfba;
}

.bg-gray {
    background: #f1f2f6;
}

.bg-gray1 {
    background: #d9d9d9;
}

.bg-gray2 {
    background: #dcdddf;
}

.bg-gray-dark {
    background: #1b1d23;
}

.bg-white-soft {
    background: #f0f0f0;
}

.bg-black {
    background: black;
}

.br-0 {
    border-radius: 0;
}

.b-0 {
    border: 0;
}

/* .border {
    border: 3px solid white!important;
} */
.box-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.overflow-h {
    overflow: hidden;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

hr.text-white {
    border-color: white;
}

.h-auto {
    height: auto;
}

.w-auto {
    width: auto;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

/* content */
.alignleft {
    float: left;
}

.grecaptcha-badge {
    display: none !important;
}

pre.wp-block-code {
    background: #f7f7f7;
    border-radius: 7px;
    padding: 15px 25px;
    color: black !important;
}

@media screen and (max-width: 1199px) {
    .mobile-hidden {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .desktop-hidden {
        display: none;
    }
}

/*** Works on common browsers ***/
::selection {
    background-color: #6381e5;
    color: #fff;
    -webkit-text-fill-color: white !important;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #6381e5;
    color: #fff;
    -webkit-text-fill-color: white !important;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #6381e5;
    color: #fff;
    -webkit-text-fill-color: white !important;
}

::-ms-selection {
    background-color: #6381e5;
    color: #fff;
    -webkit-text-fill-color: white !important;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #6381e5;
    color: #fff;
    -webkit-text-fill-color: white !important;
}